body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h3 {
  text-align: center;
}

h3 {
  font-style: italic;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.recharts-responsive-container {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.recharts-surface {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
